


}

/* For screens smaller than 768px wide */
@media (min-width: 481px) and (max-width: 768px) {
    .grid-container { width: 98%; }
    .row { margin: 0 auto; }
    .col-row {
        padding: 25px;
        margin: 0 auto;
    }
    .col { margin: 1% auto; }
    h1 { font-size: 3.6em; }
    h2 { font-size: 3.1em; }
    h3 { font-size: 2.6em; }
    h4 { font-size: 2.1em; }
    h5 { font-size: 1.6em; }
    h6 { font-size: 1.1em; }
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    textarea,
    select,
    option { width: 100%; }
}

/* For screens smaller than 480px wide */
@media (max-width: 480px) {
    .grid-container {
        width: 100%;
        padding: 0;
        margin: 0;
    }
    .row { margin: 0 auto; }
    .col-row {
        padding: 25px;
        margin: 0 auto;
    }
    .col { margin: 1% auto; }
    h1 { font-size: 3.4em; }
    h2 { font-size: 2.9em; }
    h3 { font-size: 2.4em; }
    h4 { font-size: 2em; }
    h5 { font-size: 1.4em; }
    h6 { font-size: 1em; }
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='tel'],
    input[type='text'],
    input[type='url'],
    textarea,
    select,
    option { width: 100%; }
}